.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: black;

  &__nav {
    // padding: 10px 40px;
    @include wrapper;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--li {
        &-a {
          padding: 2px 5px;
          color: white;
          font-size: 20px;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: blue;
          }
        }

        &-logo {
          font-size: 32px;
          color: white;
          text-decoration: none;

          .logo {
            height: 35px;
          }
        }
      }
    }

    .nav__lists {
      display: flex;
      flex-direction: row;

      &--li {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        &-download {
          padding: 5px 10px;
          color: white;
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          border: 2.5px solid white;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
