.movieelem {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 25px);
  height: 450px;

  &__block {
    width: 100%;
    background-color: grey;

    &--img {
      width: 100%;
    }
  }

  &__subblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    cursor: pointer;

    &--left {
      &-title {
        margin-bottom: 5px;
        font-size: 16px;
      }
      &-subtitle {
        font-size: 14px;
      }
    }

    &--right {
      align-self: flex-end;

      &-img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
