.main__section--carausel {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    @include wrapper;
    color: white;
    font-size: 24px;
  }

  &-block {
    @include wrapper;

    @media screen and (max-width: 700px) {
      height: 250px;
    }

    @media screen and (max-width: 450px) {
      height: 150px;
    }

    margin-top: 20px;
    gap: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}
