.main__section--popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    @include wrapper;
    color: white;
    font-size: 24px;
  }

  &-block {
    @include wrapper;

    margin-top: 20px;
    gap: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}
