@mixin wrapper {
  width: 1800px;
  max-width: 1800px;
  margin: 0 50px;

  @media screen and (max-width: 1600px) {
    width: 1400px;
  }

  @media screen and (max-width: 1400px) {
    width: 1200px;
  }

  @media screen and (max-width: 1200px) {
    width: 1000px;
  }

  @media screen and (max-width: 1000px) {
    width: 800px;
  }

  @media screen and (max-width: 650px) {
    width: 400px;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}
